@import url('https://fonts.googleapis.com/css2?family-Urbanist:wght@200;300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /*border: 1px solid red;*/
}

:root {
    --vermelho: #d72525;
    --branco: #f7f9f9;
    --cinza: #4c5154;
    --preto: #121517;
}

html, body {
    min-height: 1000px;
    background-color: var(--branco);
    color: var(--preto);
    overflow-x: hidden;
}

header#header {
    position: sticky;
    top: 0;
    z-index: 3;
    min-height: 30px;
    height: 3.5vw;
    padding: 5px;
    box-shadow: 1px 1px 10px 1px lightgray;
    text-align: center;
    background-color: var(--branco);
}

header img {
    width: 12vw;
}


body {
    min-height: 2000px;
}

body::-webkit-scrollbar {
    display: none;
}

footer {
    bottom: 0;
    width: 100%;
    padding: 5px;
    text-align: center;
    box-shadow: 1px 1px 10px 1px lightgray;
    position: relative;
}

.containerHead {
    min-height: 75vh;
}

.startHeart {
    position: relative;
    z-index: 1;
    transition: transform 0.3s ease;
    width: 15vw;
    min-width: 100px;
    display: flex;
    margin: 180px auto;
    &:hover {
        cursor: pointer;
        transform: scale(1.2);
    }
}

.setaBaixo {
    min-width: 50px;
    min-height: 50px;
    width: 5vw;
    height: 5vw;
    background-image: url("images/down.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    left: 50%;
    transform: translateX(-50%);

    animation-name: setaBaixo;
    animation-duration: 0.7s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes setaBaixo {
    0% {
        top: -130px;
    }
    50% {
        top: -115px;
    }
    100% {
        top: -130px;
    }
}

.assinatura {
    display: flex;
    flex-direction: column;
    justify-content: right;
    font-size: 16px;
    width: fit-content;
    margin-left: 80vw;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: lighter;
}

.containerCarta {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    width: 40vw;
    margin: 60px auto;
    padding: 60px;
    border-radius: 5px;
    box-shadow: 1px 1px 10px 1px lightgray;
    margin-bottom: 170px;
    background-color: #f8eddc;
}

.containerCarta h1 {
    margin-bottom: 30px;
}


.containerPhoto {
    width: 60vw;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.container-wrapper {
    width: 100%;
}

.container-wrapper .slider {
    position: relative;
    width: 100%;
    height: fit-content;
}

.container-wrapper .slider input {
    display: none;
}

.cards {
    perspective: 1000px;
    transform-style: preserve-3d;
    position: relative;
    min-height: 500px;
    height: 30vw;
    width: 60vw;
    margin-bottom: 20px;
}

.cards label {
    transition: transform 0.55s ease;
    position: absolute;
    width: 350px;
    height: 100%;
    left: 0;
    right: 0;
    margin: auto;
    cursor: pointer;
}

.cards .card {
    position: relative;
    width: 100%;
    height: 100%;
    transition: all 0.35s ease;
}

.cards .card:hover {
    transform: scale(1.05);
}

.cards .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}


/*Terceiro Esquerda*/
#s1:checked ~ .cards #slide5, 
#s2:checked ~ .cards #slide6,
#s3:checked ~ .cards #slide7,
#s4:checked ~ .cards #slide1,
#s5:checked ~ .cards #slide2,
#s6:checked ~ .cards #slide3,
#s7:checked ~ .cards #slide4 {
    box-shadow: 0px 4px 26px 8px lightgray;
    transform: translate3d(-110%,0,-480px);
}

/*Segundo Esquerda*/
#s1:checked ~ .cards #slide6, 
#s2:checked ~ .cards #slide7,
#s3:checked ~ .cards #slide1,
#s4:checked ~ .cards #slide2,
#s5:checked ~ .cards #slide3,
#s6:checked ~ .cards #slide4,
#s7:checked ~ .cards #slide5 {
    box-shadow: 0px 6px 24px 12px lightgray;
    transform: translate3d(-70%,0,-240px);
}

/*Primeiro Esquerda*/
#s1:checked ~ .cards #slide7, 
#s2:checked ~ .cards #slide1,
#s3:checked ~ .cards #slide2,
#s4:checked ~ .cards #slide3,
#s5:checked ~ .cards #slide4,
#s6:checked ~ .cards #slide5,
#s7:checked ~ .cards #slide6 {
    box-shadow: 0px 8px 28px 12px lightgray;
    transform: translate3d(-35%,0,-120px);
}

/*Centro*/
#s1:checked ~ .cards #slide1, 
#s2:checked ~ .cards #slide2,
#s3:checked ~ .cards #slide3,
#s4:checked ~ .cards #slide4,
#s5:checked ~ .cards #slide5,
#s6:checked ~ .cards #slide6,
#s7:checked ~ .cards #slide7 {
    box-shadow: 0px 16px 40px 20px lightgray;
    transform: translate3d(0,0,0);
}

/*Primeiro Direita*/
#s1:checked ~ .cards #slide2, 
#s2:checked ~ .cards #slide3,
#s3:checked ~ .cards #slide4,
#s4:checked ~ .cards #slide5,
#s5:checked ~ .cards #slide6,
#s6:checked ~ .cards #slide7,
#s7:checked ~ .cards #slide1 {
    box-shadow: 0px 8px 28px 12px lightgray;
    transform: translate3d(35%,0,-120px);
}
/*Segundo Direita*/
#s1:checked ~ .cards #slide3, 
#s2:checked ~ .cards #slide4,
#s3:checked ~ .cards #slide5,
#s4:checked ~ .cards #slide6,
#s5:checked ~ .cards #slide7,
#s6:checked ~ .cards #slide1,
#s7:checked ~ .cards #slide2 {
    box-shadow: 0px 6px 24px 12px lightgray;
    transform: translate3d(70%,0,-240px);
}

/*Terceiro Direita*/
#s1:checked ~ .cards #slide4, 
#s2:checked ~ .cards #slide5,
#s3:checked ~ .cards #slide6,
#s4:checked ~ .cards #slide7,
#s5:checked ~ .cards #slide1,
#s6:checked ~ .cards #slide2,
#s7:checked ~ .cards #slide3 {
    box-shadow: 0px 4px 26px 8px lightgray;
    transform: translate3d(110%,0,-480px);
}

.dots {
    width: fit-content;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 5px;
    padding-top: 94px;
}

.dots label {
    width: 36px;
    height: 5px;
    border-radius: 0;
    background-color: lightgray;
    opacity: 1;
    cursor: pointer;
    &:hover {
        background-color: rgb(187, 187, 187);
    }
}

.dots label.active {
    background-color: var(--vermelho);
}

.slider-arrow-prev {
    position: absolute;
    width: 38px;
    height: 38px;
    cursor: pointer;
    top: calc(45% - 38px);
    right: 0px;
    transition: transform 0.3s ease;
    background: url("images/arrowright.png") no-repeat center/contain;
    &:hover {
        transform: scale(1.15);
    }
}

.slider-arrow-next {
    position: absolute;
    width: 38px;
    height: 38px;
    cursor: pointer;
    top: calc(45% - 38px);
    left: 0px;
    transition: transform 0.3s ease;
    background: url("images/arrowleft.png") no-repeat center/contain;
    &:hover {
        transform: scale(1.15);
    }
}

.amoMais {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: fit-content;
    margin: 120px auto;
    text-align: center;
}
.amoMais h3 {
    margin-top: 20px ;
}

.botoes {
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-top: 80px;
    width: 40vw;
    border: 1px solid blue;
    justify-content: space-evenly;

}

#sim {
    height: 50px;
    width: 80px;
    background-color: var(--vermelho);
    border: white;
    border-radius: 10px;
    color: white
}

#nao {
    height: 50px;
    width: 80px;
    background-color: var(--vermelho);
    border: white;
    border-radius: 10px;
    color: white;
}